#section{
    width: 98%;
    padding: 15px;
    white-space: nowrap;
    overflow: auto;
    -webkit-mask: linear-gradient(-90deg, rgba(0,0,0,0) 5px, rgba(0,0,0,1) 4%);
}
#SectionTitle{
    margin-top: 20px;
    margin-left:25px;
}
.film{
    text-align: left;
    display:inline-table;
    white-space: normal;
    width: 180px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3%;
    border-radius: 10px;
    visibility: visible;
    cursor: pointer;
}
#poster-index{
    width:100%;
    border-radius: 10px;
}
#title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#index-score{
    float: left;
    font-size: 20px;
}
#index-star{
    float: left;
    height: 20px;
    width: 20px;
    padding-top: 1px;
}
.form{
    display:inline-table;
    padding: 0.6%;
}
#prijelaz{
    visibility: hidden;
    padding: 0px;
}
#container{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    -webkit-mask: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 3%);
}