#actor-info{
    width: 20%;
    height: 100%;
    margin-left: 5%;
    float: left;
    border-right: 2px solid gainsboro;
    padding: 10px;
    position: fixed;
    background-color: white;
}
#img{
    border:2px solid black;
    border-radius:5px;
    margin-left:5%;
}
#actor-info h2,#actor-info h3,#actor-info h4,#actor-info p{
    margin-left:5%;
}
#actor-movies{
    width:68%;
    height: 100%;
    float: left;
    margin-left:27%;
}
.film{
    text-align: left;
    display:inline-table;
    white-space: normal;
    width: 180px;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 3%;
    border-radius: 10px;
    visibility: visible;
    cursor: pointer;
}
#poster-index{
    width:100%;
    border-radius: 10px;
}
#title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#index-score{
    float: left;
    font-size: 20px;
}
.form{
    display:inline-table;
    padding: 0.6%;
}
#prijelaz{
    visibility: hidden;
    padding: 0px;
}