#profil_filmovi{
    margin-left:5%;
    margin-right: 3%;
}
#profile-info{
    margin-left: 10%;
    margin-right: 20%;
}
#ProfileLogOut{
    float: right;
    height: 50px;
    width: 50px;
}
#logout-form{
    float: right;
}
#logout-btn{
    position: absolute;
    top: 11%;
}

#film{
    text-align: left;
    margin-bottom: 2px;
    border: 0px;;
    display:inline-table;
    white-space: normal;
    width: 180px;   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
    border-radius: 10px;
    visibility: visible;
}
#poster-index{
    width:180px;
    height:260px;
    border-radius: 10px;
}
#title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#index-score{
    float: left;
    font-size: 20px;
}
#index-star{
    float: left;
    height: 20px;
    width: 20px;
}
form{
    display:inline-table;
}
#prijelaz{
    visibility: hidden;
    padding: 0px;
}