#profile-info{
    height: 100%;
    width: 60%;
    float: left;
    margin: 0% 20%;
}
#welcome{
    width: fit-content;
    float: left;
    margin: 5px;
}
#profil_filmovi{
    width: 80%;
    height: 100%;
    float:left;
    padding:0px 10px;
    margin-left: 10%;
    margin-right: 10%;
}
#ProfileLogOut{
    height: 40px;
    width: 40px;
    margin: 5px;
}
#logout-form{
    float: right;
}
#logout-btn{
    background: none;
    border: none;
    cursor: pointer;
}
#select{
    background: none;
    border: none;
    border-bottom: 2px solid black;
}
#FilterBtn{
    background: none;
    border: 2px solid black;
}
#nothing{
    height: 350px;
}

#film{
    text-align: left;
    margin-bottom: 2px;
    border: 0px;;
    display:inline-table;
    white-space: normal;
    width: 180px;   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
    border-radius: 10px;
    visibility: visible;
    background-color: white;
    cursor: pointer;
}
#poster-index{
    width:180px;
    height:260px;
    border-radius: 10px;
}
#title{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
#index-score{
    float: left;
    font-size: 20px;
}
#index-star{
    float: left;
    height: 20px;
    width: 20px;
    padding-top: 2px;
}
form{
    display:inline-table;
}
#prijelaz{
    visibility: hidden;
    padding: 0px;
}